.NavBarTitleBackArrow-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 23px;
    margin-top: 31px;
    height: 34px;
    font-family: var(--font1);
    font-weight: 700;

}


.NavBarTitleBackArrow-Arrow{
    position: absolute;
    left: 24px;
}