.CardOfferContainer{
  display:flex;
  flex-direction: column;
  border-color: rgb(6, 1, 1);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  width: 200px;
  height: 465px;
  padding: 4px;
}

.CardOfferimage{
  height: 50%;
  object-fit: cover;
  margin:6px;
}

.CardOfferInfo{
  width: 100%;
  height: 50%;
}


.CardOfferPrice{
    font-size: 20px;
  }
  
.CardOfferTitle{
  font-size: 15px;
  font-weight: 600;
  line-height: 130%;
  margin: 0;
  
}
  

@media (max-width: 600px) {
    
  .CardOfferContainer{
    display:flex;
    flex-direction: row;
    border-color: rgb(6, 1, 1);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    width:100%;
    height: 140px;
    padding: 4px;
    margin: 5px 0 5px;
  }
  
  .CardOfferimage{
    width: 30%;
    height: 100%;
    margin: 0px;
    /* object-fit: contain; */
  }

  .CardOfferInfo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  
  
  .CardOfferPrice{
      font-size: 20px;
      margin: 0px;
    }
    
  .CardOfferTitle{
    font-size: 10px;
    font-weight: 600;
    line-height: 130%;
    margin: 1px;
    
  }
}