@media (min-width:600px) { 

    .OD-container{
        margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .OD-image-box{
    }
    
    .OD-image-box img{
        object-fit: contain;
        max-width: 40vw;
        border: 1px solid ;
        border-radius: 8px;
    
    }
    
    .OD-image{
        object-fit: contain;
        width: 2px;
        height: 2px;
    
    }
    
    
    .OD-details-box{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        border: 1px solid ;
        border-radius: 8px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        min-height: 30vw;
        
    }
    
    .OD-details-box h1{
        /* font-size: 3vw; */
        margin: 0px 0px 0px 0px;;
        vertical-align: text-top;
    
        
    }
    
    .OD-details-box Button{
        width: 50%;
        margin: auto;
        margin-bottom: 3px;
        
    }
    
    .OD-details-box Button:active {
        background-color: #085066;
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
        /* box-shadow: 0 5px #666; */
        /* transform: translateY(4px); */
      }

}


    @media (min-width:600px) { 

        .OD-container{
            margin: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid ;
            border-radius: 8px;
        }
        
        .OD-image-box{
        }
        
        .OD-image-box img{
            object-fit: contain;
            border: 1px solid ;
            border-radius: 8px;
        
        }
        
        .OD-image{
            object-fit: contain;
            width: 2px;
            height: 2px;
        
        }
        
        
        .OD-details-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid ;
            border-radius: 8px;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            min-height: 30vw;
            
        }
        
        .OD-details-box h1{
            font-size: 3vw;
            margin: 0px 0px 0px 0px;;
            vertical-align: text-top;
        
            
        }
        
        .OD-details-box Button{
            width: 100%;
            margin: auto;
            margin-bottom: 3px;
            
        }
        
        .OD-details-box Button:active {
            background-color: #085066;
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
            /* box-shadow: 0 5px #666; */
            /* transform: translateY(4px); */
          }
    
    }

