.LandingConteiner{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 85px;
}


.LandingTitle{
    width: 335px;
    height: 68px;
    font-family: var(--font1);
    text-align:center;
    /* width: 335px;
    height: 68px; */
    font-size: 28px;
    font-weight:bolder;
    text-transform: uppercase;
    /* line-height: 120%; */
    margin-left: 46px;
    margin-right: 46px;
    color: #000000;
    font-style: normal;
}

.LandingImage{
    width: 120px;
    height: 152px;
    margin-bottom: 60px;
    margin-top: 26px;
  }
  
.LandingButtom{
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.LandingButtonConteiner{
    display: flex;
    background-color: var(--IAMX-color);
    width: 100%;
    margin-bottom: 28px;
    border-radius: 8px;
    padding: 0px 16px;
    height: 100px;
    display: flex;
    align-items: center;
}

.LandingButtonTextConteiner{
    width: 368px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.LandingTitleText{

    color: white;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;  
}

.LandingText{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;  
}