:root {
  --IAMX-color: #007efb;
  --font1:'Space Grotesk', 'sans-serif'; 
}

*{
  /* box-sizing: border-box; */
  /* filter: invert(100%); */

}

body {
  margin: 0;
  padding:0;
  background-color: transparent;
  width: 100%;
  min-height:50em ;


}


.mainContainer{
  /* position: relative;
  min-height: 100vh;
  width: 100vw; */
  padding: 30px;
}

/* h1 {
  font-size: 20px;
  margin: 0.67em 0;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  /* filter: invert(100%);  */

}
.darkmode{
  background-color: transparent;
  filter: invert(100%);
}

.app{
  width: 100%;
  height: 100%;
  position: relative;
}

.Button1{
  position: relative;
  font-family: var(--font1);
  background-color: var(--IAMX-color);
  border-radius: 8px;
  color: white;
  padding: 18px;
  text-align: center;
  font-weight: 700;
  font-size: 20px !important;
  line-height: 140%;
  width: 100%;
  height: 60px;
}

.Button1 h1{
  font-family: var(--font1);
  background-color: var(--IAMX-color);
  font-size: 20px !important;
}

.Button1 .icon{
  position: absolute;
  right: 24px;
  top: 33%;
}

.Button1Disable{
  pointer-events: none;
  opacity: 0.5;
}











.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0em;
  background-color: #8c96a0;
  display: flex;
  margin-bottom: 0%q;
  padding:10px;
  margin-top:auto;
}

.main {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  grid-area: main;
  background-color: transparent;
}

.navbar {
  grid-area: navbar;
}





/*Swiper*/
.swiperBox{
  display: flex;
  position: absolute;
  width: 100%;
  height: 13em;
  background-color: #000000;
  margin-bottom: 4em;
  z-index: 0;
}

.swiperSlide{
  display: flex;
  height: 15em;
  background-color: #007efb;
  z-index: 0;
}


/* PaymentRequest */
.box-buttons-paymentRequest{
  display: flex;
  
}

.buttonPaymentRequest{
  width: 90vw;
  margin-top: 10px;
  height: 60px;
  color: #f4f2f2;
  background-color: var(--IAMX-color);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  ;

}


