
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --IAMX-color: #0081FF;
  --font1:'Space Grotesk', 'sans-serif'; 
}

*{
  box-sizing: border-box;
  /* filter: invert(100%); */

}

body {
  margin: 0;
  padding:0;
  background-color: transparent;
  width: 100%;
  overflow-x: hidden;
  /* min-height:50em ; */


}


.img{
  max-width: 100%;
  height: auto;
}

.mainContainer{
  /* position: relative;
  min-height: 100vh;
  width: 100vw; */
  padding: 30px;
}

h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  height: 100%;
  /* filter: invert(100%);  */
  font-size: 16px;
  font-family: var(--font1);
  scroll-behavior: smooth;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}


.darkmode{
  background-color: transparent;
  filter: invert(100%);
}

.app{
  width: 100%;
  height: 100%;
  position: relative;
}


.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0em;
  background-color: #8c96a0;
  display: flex;
  margin-bottom: 0%q;
  padding:10px;
  margin-top:auto;
}

.main {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  grid-area: main;
  background-color: transparent;
}

.navbar {
  grid-area: navbar;
}





/*Swiper*/
.swiperBox{
  display: flex;
  width: 100%;
  height: 13em;
  background-color: #000000;
}

.swiperSlide{
  display: flex;
  height: 15em;
  background-color: #007efb;
}


/* PaymentRequest */
.box-buttons-paymentRequest{
  display: flex;
}

.buttonPaymentRequest{
  width: 90vw;
  margin-top: 10px;
  height: 60px;
  color: #f4f2f2;
  background-color: var(--IAMX-color);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
  ;

}


