/*form styles*/
.Form1 {
	margin: 25px;
}

#FormTitle{
	font-family:var(--font1);
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 120%;
	text-align: center;
	color: #000000;
}

#FormSubTitle{
	font-family:var(--font1);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}


.formInput{
	box-sizing: border-box;
	background-color: transparent;
	padding: 0px;
	padding-bottom: 5px;
	padding-right: 27px;
	border: 0px;
	border-bottom: 1px solid #000000;
	
	height: calc(26px+6px);
	width: 100%;
	/* box-sizing: border-box; */
	font-family: var(--font1);
	line-height: 130%;
	/* color: #2C3E50; */
	font-size: 20px;
}

.formError{
	border:2px solid red
	}
	
.formError::placeholder {
color: red;
opacity: 1; /* Firefox */

}

.Form1 button{
	width: 100%;
	margin-top: 32px;
	border: 0px;
}

.Form1 button:active{
	background-color: #085066;
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Form1InputIconBox svg{
	position: absolute;
	bottom: 3px;
	/* top:2px; */
	right: 0px;
	color: var(--IAMX-color);
	width: 28px;
	height: 28px;

}

.Form1InputIconBox{
	position: relative;
	margin-bottom: 28px;
}

.Form1Label{
	font-family: var(--font1);
	font-size: 16px;
	margin-top: 19px;
	margin-bottom: 7px;
}

.errorsClass{
  color: red;
  display: block;
  /* flex-direction: column; */
}

