/*form styles*/
.Form1 {
	margin: 24px;
}

.formInput{
	background-color: transparent;
	padding: 0px;
	border: 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	margin-bottom: 10px;
	width: 100%;
	/* box-sizing: border-box; */
	font-family: var(--font1);
	line-height: 130%;
	/* color: #2C3E50; */
	font-size: 20px;
}

.formError{
	border:2px solid red
	}
	
.formError::placeholder {
color: red;
opacity: 1; /* Firefox */

}

.Form1 button{
	width: 100%;
	margin-top: 65px;
	border: 0px;
}

.Form1 button:active{
	background-color: #085066;
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Form1Icon svg{
	position: absolute;
	right: 28px;
	color: var(--IAMX-color);
	width: 22px;
	height: 21px;
}







.Form1Label{
font-family: var(--font1);
font-size: 16px;
margin-top: 19px;
margin-bottom: 7px;
}

.errorsClass{
  color: red;
  display: block;
  /* flex-direction: column; */
}

